/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
     color: #fff;
    background: #000;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    color: #ff3346;
    text-decoration: none;
}

a:hover {
    color: #b22330;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}
 


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #ff3346;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #ffffff;
    line-height: 0;
}

.back-to-top:hover {
    background: #b22330;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #000000;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ff3346;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

 


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0) !important;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px #ff3346 !important;
    border-radius: 10px !important;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 50vh;
}

 
#hero h1 {
    margin: 0;
    font-size: 144px;
    font-weight: 900;
     text-align: center;
    color: #fff;
}
 
  

@media (max-width: 992px) {
    #hero {
        text-align: center;
    }
    #hero h1 {
        font-size: 92px;
     }
 
}

 

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/


/* Light */

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #181818;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #fff;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #fff;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 4px;
    background: #ff3346;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content h3 {
    font-weight: 600;
    font-size: 26px
}

.about .content ul {
    list-style: none;
    padding: 0
}

.about .content ul li {
    padding-left: 28px;
    position: relative
}

.about .content ul li+li {
    margin-top: 10px
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #ff3346;
    line-height: 1
}

.about .content p:last-child {
    margin-bottom: 0
}

.service .service-item {
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.service .service-item a {
    color: #ffffff;
}

.dark-bg {     border: 5px solid #b22330;

    background-color: #ff3346;
    border-radius: 20px;
    font-weight: bolder;
}


/*--------------------------------------------------------------
# Specials
--------------------------------------------------------------*/

.specials {
    overflow: hidden;
}

.specials .nav-tabs {
    border: 0;
}

.specials .nav-link {
    border: 0;
    padding: 12px 15px;
    transition: 0.3s;
    color: #fff;
    border-radius: 0;
    border-right: 2px solid #cda45e;
    font-weight: 600;
    font-size: 15px;
}

.specials .nav-link:hover {
    color: #cda45e;
}

.specials .nav-link.active {
    color: #1a1814;
    background: #cda45e;
    border-color: #cda45e;
}

.specials .nav-link:hover {
    border-color: #cda45e;
}

.specials .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.specials .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}

.specials .details p {
    color: #aaaaaa;
}

.specials .details p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .specials .nav-link {
        border: 0;
        padding: 15px;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #020202;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 16px;
}

#footer .credits a {
    transition: 0.2s;
}